    /*
    Flaticon icon font: Flaticon
    Creation date: 27/06/2018 04:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-massage:before { content: "\f100"; }
.flaticon-questions:before { content: "\f101"; }
.flaticon-video-call:before { content: "\f102"; }
.flaticon-coaching:before { content: "\f103"; }
    
    $font-Flaticon-massage: "\f100";
    $font-Flaticon-questions: "\f101";
    $font-Flaticon-video-call: "\f102";
    $font-Flaticon-coaching: "\f103";